@{
    ViewBag.Title = "Single Page CMS";
}

<div ng-view></div>

@section scripts
{
    <script src="~/Scripts/showdown.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/_app/app.js"></script>
}